<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
    <section id="plugin.video.bacterio">

        <!-- ======================== PLAYBACK ======================== -->
        <category id="playback" label="30018">
            <group id="1" label="30018">
                <setting id="playback.auto_play" type="boolean" label="30253" help="30254">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="playback.quality_pref" type="integer" label="30407" help="30408">
                    <level>0</level>
                    <default>0</default>
                    <control type="spinner" format="integer">
                        <values>
                            <value label="30409" />
                            <value label="30410" />
                        </values>
                    </control>
                </setting>
            </group>
        </category>

        <!-- ======================== GENERAL ======================== -->
        <category id="general" label="30001">

            <group id="1" label="30001">
                <setting id="addon_fanart" type="path" label="30024" help="30025">
                    <level>2</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="file" />
                </setting>
                <setting id="cache.clear" label="30415" type="action" help="30416">
                    <level>0</level>
                    <control type="button" format="action">
                        <data>RunScript(plugin.video.bacterio, clear_cache)</data>
                    </control>
                </setting>
            </group>
        </category>

        <category id="trakt" label="30020">
            <group id="1" label="30184">
                <setting id="trakt.authenticate" label="30403" type="action" help="30404">
                    <level>0</level>
                    <control type="button" format="action">
                        <data>
                            RunScript(plugin.video.bacterio, trakt)
                        </data>
                    </control>
                </setting>
                <setting id="trakt.client_id" type="string" label="30180" help="30181">
                    <default>e4a935fb153dfb977aba0b565e8cb6240316ca603fceb79dfe7e288143f904fa</default>
                    <level>4</level>
                    <control type="edit" format="string" />
                </setting>
                <setting id="trakt.client_secret" type="string" label="30182" help="30183">
                    <default>9acab525f674ebead791dd5687ea2947f09c5f3cead4c07a7603b244e6bd3d18</default>
                    <level>4</level>
                    <control type="edit" format="string" />
                </setting>
                <setting id="trakt.refresh_token" label="30403" type="string" help="30186">
                    <level>4</level>
                    <default></default>
                    <control type="edit" format="string" />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="trakt.access_token" label="30403" type="string" help="30186">
                    <level>4</level>
                    <default></default>
                    <control type="edit" format="string" />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
            </group>
        </category>
        <category id="tmdb" label="30405">
            <group id="1" label="30184">
                <setting id="tmdb.language" type="string" label="30411" help="30412">
                    <default>en-US</default>
                    <control type="edit" format="string" />
                </setting>
                <setting id="tmdb.authenticate" label="30403" type="action" help="30404">
                    <level>0</level>
                    <control type="button" format="action">
                        <data>
                            RunScript(plugin.video.bacterio, tmdb)
                        </data>
                    </control>
                </setting>
                <setting id="tmdb.client_id" type="string" label="30185" help="30186">
                    <level>4</level>
                    <default>b3d88b28234743b4d18c84c6dbd3ac81</default>
                    <control type="edit" format="string" />
                </setting>
                <setting id="tmdb.client_secret" type="string" label="30185" help="30186">
                    <level>4</level>
                    <default>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2Q4OGIyODIzNDc0M2I0ZDE4Yzg0YzZkYmQzYWM4MSIsIm5iZiI6MTcwMjM1MjEzNC4wNjIsInN1YiI6IjY1NzdkNTA2N2EzYzUyMDBhZDE5NmY1MSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.xP3IHOVqYbDkoiluKUdgdocIobrsDoPpHymgp7sTVCU</default>
                    <control type="edit" format="string" />
                </setting>
            </group>
            <group id="2" label="30118">
                <setting id="tmdblist.list_sort" type="integer" label="30119" help="30120">
                    <default>0</default>
                    <control type="spinner" format="integer">
                        <values>
                            <value label="Popularity" />
                            <value label="Highest rated" />
                            <value label="Newest first" />
                            <value label="Title A-Z" />
                        </values>
                    </control>
                </setting>
            </group>
        </category>

        <category id="tb" label="30237">
            <group id="1" label="30237">
                <setting id="tb.enabled" type="boolean" label="30210" help="30211">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="tb.authenticate" label="30403" type="action" help="30404">
                    <level>0</level>
                    <control type="button" format="action">
                        <data>
                            RunScript(plugin.video.bacterio, torbox)</data>
                    </control>
                    <dependencies>
                        <dependency type="enable" setting="tb.enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="tb.access_token" type="string" label="30185" help="30406">
                    <level>4</level>
                    <default></default>
                    <control type="edit" format="string" />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
            </group>
        </category>

        <category id="real_debrid" label="30209">
            <group id="2" label="30209">
                <setting id="rd.enabled" type="boolean" label="30210" help="30211">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="rd.authenticate" label="30403" type="action" help="30404">
                    <level>0</level>
                    <control type="button" format="action">
                        <data>
                            RunScript(plugin.video.bacterio, real_debrid)</data>
                    </control>
                    <dependencies>
                        <dependency type="enable" setting="rd.enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="rd.refresh_token" label="30403" type="string" help="30186">
                    <level>4</level>
                    <default></default>
                    <control type="edit" format="string" />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="rd.access_token" label="30403" type="string" help="30186">
                    <level>4</level>
                    <default></default>
                    <control type="edit" format="string" />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="rd.app_id" label="30403" type="string" help="30186">
                    <level>4</level>
                    <default>X245A4XAIBGVM</default>
                    <control type="edit" format="string" />
                </setting>
                <setting id="rd.client_id" label="30403" type="string" help="30186">
                    <level>4</level>
                    <default>X245A4XAIBGVM</default>
                    <control type="edit" format="string" />
                </setting>
                <setting id="rd.client_secret" label="30403" type="string" help="30186">
                    <level>4</level>
                    <default></default>
                    <control type="edit" format="string" />
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
            </group>
        </category>
    </section>
</settings>
